
<div class="container-pos">
    <div class="row">

        <div class="col-sm-3 col-md-2">

          
    </div>
    <hr />
    <div class="row">
        <div class="col-sm-3 col-md-2"  id="menus">
            <a  routerLink="Compose"class="btn btn-danger btn-sm btn-block" id="compose" role="button">COMPOSE  <span></span><span class="glyphicon glyphicon-plus no-margin">
            </span></a>
            <ul class="nav nav-pills nav-stacked">
                <li ><a routerLink="inbox" routerLinkActive="active"> <span class="badge pull-right">42</span> <span class="glyphicon glyphicon-inbox"></span>Inbox </a>
                </li>
                <li><a routerLink="SentItems"routerLinkActive="active"><span class="badge pull-right">5</span>Sent </a></li>
                <li><a routerLink="Trash"routerLinkActive="active"><span class="badge pull-right">0</span><span class="glyphicon glyphicon-trash"></span>Trash</a></li>

                <li><a routerLink="Drafts"routerLinkActive="active"><span class="badge pull-right">3</span>Drafts</a></li>
                <li ><a routerLink="Star"routerLinkActive="active"><span class="badge pull-right">3</span>Starred</a></li>
                <li ><a routerLink="contact"routerLinkActive="active"><span class="badge pull-right">3</span>Contact</a></li>

            </ul>
        </div>

    </div>
</div>
<router-outlet ></router-outlet>
