<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link rel='stylesheet' type='text/css' href='https://cdn.jsdelivr.net/npm/primeng@8.0.2/resources/themes/nova-light/theme.css'/>
<link rel='stylesheet' type='text/css' href='https://cdn.jsdelivr.net/npm/primeng@8.0.2/resources/primeng.min.css'/>
<link rel='stylesheet' type='text/css' href='https://cdn.jsdelivr.net/npm/primeicons@1.0.0/primeicons.css'/>
<link href="https://cdn.quilljs.com/1.0.0/quill.snow.css" rel="stylesheet">
<app-search></app-search>
<router-outlet ></router-outlet>

 <!--<app-header></app-header>-->
