#routes
{
  background-color: blueviolet;
}
#logout
{
  background-color: rgb(224, 24, 24);
}#login
{
  background-color: rgb(43, 226, 98);
}#register
{
  background-color: blueviolet;
  margin-left: 700px
}
