<form  #form>
  <div class="form" >
  <div class="inpus" >
    <button  class="to">To</button><input class="bx" type="email"><br>
    <button  class="to">From</button><input class="bx" type="email"><br>
    <button  class="to">Subject </button><input class="bx" type="text"><br>
  </div>
  <div class="message">
      <textarea class="message" type="text" [defaultValue]="default">

      </textarea>
      <a href="#" class="btn btn-info btn-lg">
        <span class="glyphicon glyphicon-upload"></span> attach
      </a>
  </div>
  <button id="sub" type="submit" (click)="sendemail()">Submit</button>
  </div>
</form>

