<form   [formGroup]="form">
  <div class="form" formGroupName="form">
  <div class="inpus" >
    <button  class="to">To</button><input formControlName="to" class="bx" type="email"><br>
    <button  class="to">From</button><input formControlName="from" class="bx" type="email"><br>
    <button  class="to">Subject </button><input formControlName="subject" class="bx" type="text"><br>
  </div>
  <div class="message">
      <textarea class="message" type="text" [defaultValue]="default" formControlName="body">

      </textarea>
        <div class="form-group">
          <input type="file" (change)="uploadFile($event.target)" formControlName="file">
      </div>
  </div>
  <button id="sub" type="submit" (click)="sendemail()">Submit</button>
  </div>
</form>

