.form
{
  width: 500px;
  height: 540px;
  background-color: #f4f4f4;
  position: absolute;
  margin-bottom: 50px;
  margin-left: 100;
  left: 300px;
  top: 50px;
  box-shadow: 0px 0px 0px 5px #a99f42;
  resize: both;

}



.inpus{
  background-color: #6828a3;
  border: 10px;
}
input.bx {
  height: 40px;
    font-family: inherit;
    font-size: 100%;
    margin-left: -1px;
    width: 387px;
}

button.to{
  font-family: monospace;
  width: 112px;
  height: 40px;
  background: #6828a3;}

  textarea.message{
    resize: none;
box-sizing: border-box;
padding: 1px;
margin: 5px 0 0;
height: 10px;
    line-height: 1.3;
    width: 100%;
    font-family: var(--ff-mono);
    font-size: 1.15384615rem;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;

}
#sub,#draft{
  display: inline;
  width: 50%;
  position: initial;
padding: 5px;
border-radius: 10px;
margin-bottom: 5px;
background-color: rgb(48, 18, 185);
font-size: 20px;
}
#draft{
  background-color: rgb(97, 59, 44);
  color: rgb(116, 20, 20);

}
:hover #draft{
  background-color: rgb(92, 32, 87);
color: rgb(36, 37, 9);
font-size: large;
}
:hover #sub{
  background-color: rgb(3, 54, 18);
color: rgb(208, 223, 2);
font-size: large;
}
